@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-gray-800 text-2xl font-bold;
}

img {
  width: 160px;
  max-height: 232px;
}

.arrow-icon {
  @apply text-indigo-500 cursor-pointer hover:text-indigo-700;
}

button:disabled {
  @apply cursor-not-allowed text-gray-500 hover:text-gray-500;
}
